@using TcUnip.Web.Constants;

@model IList<TcUnip.Model.Contabil.Recibo>

@{
    var user = (TcUnip.Model.Pessoa.Usuario)ViewBag.Usuario;
}

@if (user != null)
{
    <div class="row">

        <div class="col-md-12 col-sm-12" style="overflow-x:auto; padding-top: 5%">
            <table class="table table-striped" id="gridCaixa" carregada="false">
                <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Profissional</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemModel in Model)
                    {
                    <tr>
                        <td>@itemModel.Paciente</td>
                        <td>@itemModel.Data.ToShortDateString()</td>
                        <td>@itemModel.Data.ToShortTimeString()</td>
                        <td>@itemModel.Profissional</td>
                        <td>R$ @itemModel.Valor</td>
                        <td class="text-center">
                            <a class="btnEditar" id-registro="@itemModel.IdAgenda" title="Editar" 
                               onclick="indexRecibo.modalVisualizar(this)"
                               style="cursor: pointer;">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script>

        $("#gridCaixa").DataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
            },
            "columnDefs": [
                { "targets": [5], "orderable": false, "searchable": false }
            ],
            "aaSorting": []
        });

    </script>
}
