@model TCC_Unip.Models.Servico.Paciente

@using TCC_Unip.Models.Local;

@{
    var listStatus = (IList<DataSelectControl>)ViewBag.ListStatus;
        var user = Session[TCC_Unip.Constants.ConstSessions.usuario] as 
               TCC_Unip.Models.Servico.Usuario;
}

@if (user != null)
{
    using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <input type="hidden" name="Id" value=@Model.Cpf>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="campos" style="padding: 2% 0 2% 5%">
                <div class="form-group">
                    @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="nome" name="Nome" value="@Model.Nome" />
                        <span class="field-validation-valid text-danger" id="validaNome" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("CPF", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="cpf" name="Cpf" value="@Model.Cpf" style="width: 40%" />
                        <span class="field-validation-valid text-danger" id="validaCpf" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("E-mail", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="email" name="Email" value="@Model.Email" />
                        <span class="field-validation-valid text-danger" id="validaEmail" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Endereço", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="endereco" name="Endereco.Logradouro" value="@Model.Endereco.Logradouro" />
                        <span class="field-validation-valid text-danger" id="validaEndereco" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Cep", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="cep" name="Endereco.Cep" value="@Model.Endereco.Cep" style="width: 30%" />
                        <span class="field-validation-valid text-danger" id="validaCep" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Complemento", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="complemento" name="Endereco.Complemento" 
                               value="@Model.Endereco.Complemento" />
                        <span class="field-validation-valid text-danger" id="validaComplemento" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Telefone", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="telefone" name="Telefone" value="@Model.Telefone" style="width: 40%" />
                        <span class="field-validation-valid text-danger" id="validaTelefone" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.Label("Situação", htmlAttributes: new { @class = "control-label col-md-3" })
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" id="status" name="Status" style="width: 42%">
                            <option value="0">-- Selecione --</option>
                            @foreach (var item in listStatus)
                            {
                                if (Model.Status == item.Value)
                                {
                                    <option value="@item.Value" selected="selected">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Name</option>
                                }
                            }
                        </select>
                        <span class="field-validation-valid text-danger" id="validaStatus" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="text-right col-md-12">
                    <button type="button" class="btn btn-primary" id="btnRetornar" name="btnRetornar" onclick="pacienteGerenciar.closeModal()">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Retornar
                    </button>
                    <button type="button" class="btn btn-primary" id="btnSalvar">
                        Salvar <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    }
}

<script>

    var SPMaskBehavior = function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
    spOptions = {
        onKeyPress: function (val, e, field, options) {
            field.mask(SPMaskBehavior.apply({}, arguments), options);
        }
    };    
    $("#telefone").mask(SPMaskBehavior, spOptions);

    $("#cpf").mask("999.999.999-99");
    $("#cep").mask("99999-999");

    $("#btnSalvar").on('click', function () {
        if (pacienteGerenciar.validar())
            pacienteGerenciar.salvar();
    });

    var pacienteGerenciar = {

        salvar: function () {

            //Ajuste para impedir multiplos cliques
            event.preventDefault();
            var that = $(this);
            that.off('click');

            $.ajax({
                url: "@Url.Action("Salvar", "Paciente")",
                type: "POST",
                data: $('form').serialize(),
                success: function (result) {
                    
                    var retorno = result.mensagensRetorno;                    
                    
                    if (retorno.Status) {
                        swal({
                            title: '',
                            text: retorno.MensagemExibicao,
                            type: 'success',
                            confirmButtonColor: '#10386B',
                            allowOutsideClick: false
                        }).then(function () {
                            funcoesIndexTabs.listaPacientes($(".abaPacientes"), false);
                            bootbox.hideAll();
                        });
                    }
                    else {

                        swal({
                            title: '',
                            text: retorno.MensagemExibicao,
                            type: 'warning',
                            confirmButtonColor: '#10386B',
                            allowOutsideClick: false
                        });
                        console.log(retorno.MensagemAnalise);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    validacao.errorAjax(jqXHR, textStatus, errorThrown);
                }
            }).always(function () {
                that.on('click', pacienteGerenciar.salvar); //Devolve a ação do botão
            });
        },

        validar: function () {

            var ehValido = true;

            var nome = $("#nome").val().trim();
            var validaNome = $("#validaNome");

            var cpf = $("#cpf").val().trim();
            var validaCpf = $("#validaCpf");

            var email = $("#email").val().trim();
            var validaEmail = $("#validaEmail");

            var endereco = $("#endereco").val().trim();
            var validaEndereco = $("#validaEndereco");

            var cep = $("#cep").val().trim();
            var validaCep = $("#validaCep");

            var telefone = $("#telefone").val().trim();
            var validaTefone = $("#validaTefone");

            var status = $("#status").val();
            var validaStatus = $("#validaStatus");


            if (validacao.campoNulo(nome, validaNome))
                ehValido = false;

            if (validacao.campoNulo(cpf, validaCpf))
                ehValido = false;

            if (validacao.campoNulo(email, validaEmail))
                ehValido = false;

            if (!validacao.ValidarEmail(email, validaEmail))
                ehValido = false;

            if (validacao.campoNulo(endereco, validaEndereco))
                ehValido = false;

            if (validacao.campoNulo(cep, validaCep))
                ehValido = false;

            if (validacao.campoNulo(telefone, validaTelefone))
                ehValido = false;

            if (validacao.selectSelecionado(status, validaStatus, "Selecione uma Situação"))
                ehValido = false;

            return ehValido;
        },

        closeModal: function () {
            bootbox.hideAll();
        }

    };

</script>