@model TCC_Unip.Models.Servico.Agenda

@{
    var listPacientes = (IList<TCC_Unip.Models.Servico.Paciente>)ViewBag.ListPacientes;
    var listProfissionais = (IList<TCC_Unip.Models.Servico.Funcionario>)ViewBag.ListProfissionais;

    var user = (TCC_Unip.Models.Servico.Usuario)ViewBag.Usuario;
}

<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/locales/bootstrap-datepicker.pt-BR.min.js"></script>

<style type="text/css">
    .datepicker {
        background: #808080;
        color: #ffffff;
    }
</style>

@if (user != null)
{
    using (Html.BeginForm())
    {
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="campos" style="padding: 2% 0 2% 5%">
                <div class="form-group">
                    <div class="form-group">
                        <div>
                            @Html.Label("Paciente", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-8">
                            <select class="form-control alinhamentoSelect" id="paciente" name="Paciente.Cpf">
                                <option value="0">-- Selecione --</option>
                                @foreach (var item in listPacientes)
                                {
                                    <option value="@item.Cpf">@item.Nome</option>
                                }
                            </select>
                            <span class="field-validation-valid text-danger" id="validaPaciente" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            @Html.Label("Profissional", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-8">
                            <select class="form-control alinhamentoSelect" id="profissional" name="Funcionario.Cpf">
                                <option value="0">-- Selecione --</option>
                                @foreach (var item in listProfissionais)
                                {
                                    <option value="@item.Cpf">@item.Nome</option>
                                }
                            </select>
                            <span class="field-validation-valid text-danger" id="validaProfissional" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            @Html.Label("Modalidade", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-8">
                            <select class="form-control alinhamentoSelect" id="modalidades" name="Modalidade" style="width: 60%">
                                <option value="0">-- Selecione --</option>
                            </select>
                            <span class="field-validation-valid text-danger" id="validaModalidades" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Data", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            <div class="input-group" style="width: 60%">
                                <input type="text" class="form-control alinhamentoSelect" id="data" name="Data" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                </span>
                            </div>
                            <span class="field-validation-valid text-danger" id="validaData" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            @Html.Label("Horários", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-4">
                            <select class="form-control alinhamentoSelect" id="horarios" name="Horario">
                                <option value="0">-- Disponíveis --</option>
                            </select>
                            <span class="field-validation-valid text-danger" id="validaHorarios" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Valor - R$", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            <input type="text" class="form-control alinhamentoSelect" id="valor" style="width: 60%" name="Valor" />
                            <span class="field-validation-valid text-danger" id="validaValor" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="text-right col-md-12">
                    <button type="button" class="btn btn-primary" id="btnRetornar" name="btnRetornar" onclick="gerenciarAgenda.CloseModal()">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Retornar
                    </button>
                    <button type="button" class="btn btn-primary" id="btnSalvar">
                        Salvar <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    }

    <script>

        $('#data').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            language: "pt-BR"
        });

        $('#data').mask('99/99/9999', { placeholder: "dd/mm/aaaa" });
        $('#valor').mask('000,00', { reverse: true });

        $('#profissional').change(function () {
            gerenciarAgenda.CarregaModalidades(this.value);
        });

        $("#data").datepicker().on("changeDate", function (e) {
            var dataSelecionada = e.format(0, "dd/mm/yyyy");
            gerenciarAgenda.VerificaHorariosData(dataSelecionada);
        });

        $("#btnSalvar").on('click', function () {
            if (gerenciarAgenda.Validar())
                gerenciarAgenda.Salvar();
        });

        $(".close").on('click', function () {
            gerenciarAgenda.CloseModal();
        });

        var gerenciarAgenda = {

            CarregaModalidades: function (selected) {

                $('#modalidades').empty();
                $('#modalidades').append('<option value=0>-- Selecione --</option>');

                if (selected !== "0") {
                    $.getJSON("@Url.Action("GetModalidadesProfissional", "Agenda")",
                        { cpf: selected },
                        function (result) {
                            $.each(result, function () {
                            $('#modalidades').append('<option value=' +
                              this.Value + '>' + this.Name + '</option>');
                        });
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        validacao.errorAjax(jqXHR, textStatus, errorThrown);
                    });
                }
            },

            VerificaHorariosData: function (data) {

                $('#horarios').empty();
                $('#horarios').append('<option value=0>-- Selecione --</option>');

                var cpf = $('#profissional').val();

                if (cpf !== "" && data !== "") {

                    $.ajax({
                        url: "@Url.Action("VerificaHorariosDataProfissional", "Agenda")",
                        type: "POST",
                        data: { cpf: cpf, data: data },
                        success: function (result) {

                            var retorno = result.mensagensRetorno;

                            if (retorno !== undefined && retorno !== null) {

                                swal({
                                    title: '',
                                    text: retorno.MensagemExibicao,
                                    type: 'warning',
                                    confirmButtonColor: '#10386B',
                                    allowOutsideClick: false
                                });
                                console.log(retorno.MensagemAnalise);

                            }
                            else {
                                $.each(result, function () {
                                    $('#horarios').append('<option value=' +
                                        this.Value + '>' + this.Name + '</option>');
                                });
                            }

                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            validacao.errorAjax(jqXHR, textStatus, errorThrown);
                        }
                    });

                }
            },

            Salvar: function () {

                //Ajuste para impedir multiplos cliques
                event.preventDefault();
                var that = $(this);
                that.off('click');

                $.ajax({
                    url: "@Url.Action("Salvar", "Agenda")",
                    type: "POST",
                    data: $('form').serialize(),
                    success: function (result) {

                        var retorno = result.mensagensRetorno;

                        if (retorno.Status) {
                            swal({
                                title: '',
                                text: retorno.MensagemExibicao,
                                type: 'success',
                                confirmButtonColor: '#10386B',
                                allowOutsideClick: false
                            }).then(function () {
                                listagemAgenda.listaAgendaGrid($(".abaGridConsultas"), false);
                                bootbox.hideAll();
                            });
                        }
                        else {

                            swal({
                                title: '',
                                text: retorno.MensagemExibicao,
                                type: 'warning',
                                confirmButtonColor: '#10386B',
                                allowOutsideClick: false
                            });
                            console.log(retorno.MensagemAnalise);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        validacao.errorAjax(jqXHR, textStatus, errorThrown);
                    }
                }).always(function () {
                    that.on('click', gerenciarAgenda.salvar); //Devolve a ação do botão
                });

            },

            Validar: function () {

                var ehValido = true;

                var paciente = $("#paciente").val().trim();
                var validaPaciente = $("#validaPaciente");

                var profissional = $("#profissional").val().trim();
                var validaProfissional = $("#validaProfissional");

                var modalidades = $("#modalidades").val().trim();
                var validaModalidades = $("#validaModalidades");

                var data = $("#data").val().trim();
                var validaData = $("#validaData");

                var horarios = $("#horarios").val().trim();
                var validaHorarios = $("#validaHorarios");

                var valor = $("#valor").val().trim();
                var validaValor = $("#validaValor");

                if (validacao.selectSelecionado(paciente, validaPaciente, "Selecione um Paciente"))
                    ehValido = false;

                if (validacao.selectSelecionado(profissional, validaProfissional, "Selecione um Profissional"))
                    ehValido = false;

                if (validacao.selectSelecionado(modalidades, validaModalidades, "Selecione uma Modalidade"))
                    ehValido = false;

                if (validacao.campoNulo(data, validaData))
                    ehValido = false;

                if (validacao.selectSelecionado(horarios, validaHorarios, "Selecione um Horário"))
                    ehValido = false;

                if (validacao.campoNulo(valor, validaValor))
                    ehValido = false;

                return ehValido;
            },

            CloseModal: function () {
                bootbox.hideAll();
            }
        };

    </script>
}
