@model TCC_Unip.Models.Servico.Agenda

@{
    var listPacientes = (IList<TCC_Unip.Models.Servico.Paciente>)ViewBag.ListPacientes;
    var listProfissionais = (IList<TCC_Unip.Models.Servico.Funcionario>)ViewBag.ListProfissionais;
    var listHorarios = (IList<TCC_Unip.Models.Local.DataSelectControl>)ViewBag.ListHorarios;
    var listModalidades = (IList<TCC_Unip.Models.Local.DataSelectControl>)ViewBag.ListModalidades;

    var user = Session[TCC_Unip.Constants.ConstSessions.usuario] as
        TCC_Unip.Models.Servico.Usuario;
}

<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/locales/bootstrap-datepicker.pt-BR.min.js"></script>

<style type="text/css">
    .datepicker {
        background: #808080;   
        color: #ffffff;
    }
</style>

@if (user != null)
{
    using (Html.BeginForm())
    {
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="campos" style="padding: 2% 0 2% 5%">
                <div class="form-group">
                    <div class="form-group">
                        <div>
                            @Html.Label("Paciente", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-8">
                            <select class="form-control alinhamentoSelect" id="paciente" name="Paciente">
                                <option value="0">-- Selecione --</option>
                                @foreach (var item in listPacientes)
                                {
                                    <option value="@item.Cpf">@item.Nome</option>
                                }
                            </select>
                            <span class="field-validation-valid text-danger" id="validaPaciente" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            @Html.Label("Profissional", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-8">
                            <select class="form-control alinhamentoSelect" id="profissional" name="Profissional">
                                <option value="0">-- Selecione --</option>
                                @foreach (var item in listProfissionais)
                                {
                                    <option value="@item.Cpf">@item.Nome</option>
                                }
                            </select>
                            <span class="field-validation-valid text-danger" id="validaProfissional" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            @Html.Label("Modalidade", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-8">
                            <select class="form-control alinhamentoSelect" id="modalidades" name="Modalidades" style="width: 60%">
                                <option value="0">-- Selecione --</option>
                                @foreach (var item in listModalidades)
                                {
                                    <option value="@item.Value">@item.Name</option>
                                }
                            </select>
                            <span class="field-validation-valid text-danger" id="validaProfissional" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Data", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control alinhamentoSelect" id="data" name="Data" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                </span>
                            </div>
                            <span class="field-validation-valid text-danger" id="validaData" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            @Html.Label("Horário", htmlAttributes: new { @class = "control-label col-md-3" })
                        </div>
                        <div class="col-md-4">
                            <select class="form-control alinhamentoSelect" id="horario" name="Horario">
                                <option value="0">-- Selecione --</option>
                                @foreach (var item in listHorarios)
                                {
                                    <option value="@item.Value">@item.Name</option>
                                }
                            </select>
                            <span class="field-validation-valid text-danger" id="validaPaciente" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Valor - R$", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            <input type="text" class="form-control alinhamentoSelect" id="valor" name="Valor" />
                            <span class="field-validation-valid text-danger" id="validaValor" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <script>

        $('#data').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            language: "pt-BR"
        });

        $('#data').mask('99/99/9999', { placeholder: "dd/mm/aaaa" });
        $('#valor').mask('000,00', { reverse: true });

    </script>
}
