@using TcUnip.Web.Constants;

@model IList<TcUnip.Model.Agenda.SessaoModel>

@{
    var user = (TcUnip.Model.Cadastro.UsuarioModel)ViewBag.Usuario;
}

@if (user != null)
{
    <div class="row">

        <div class="col-md-12 col-sm-12" style="overflow-x:auto; padding-top: 5%">
            <table class="table table-striped" id="gridAgenda" carregada="false">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Prossional</th>
                        <th>Valor</th>
                        @if (ConstPermissoes.gerenciamento.Contains(user.TipoPerfil.Permissao))
                        {
                            <th></th>
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemModel in Model)
                    {
                        <tr>
                            <td>@itemModel.Paciente.Pessoa.Nome</td>
                            <td>@itemModel.Data.ToShortDateString()</td>
                            <td>@itemModel.Data.ToShortTimeString()</td>
                            <td>@itemModel.Funcionario.Pessoa.Nome</td>
                            <td>@itemModel.Valor.ToString("C")</td>
                            @if (ConstPermissoes.gerenciamento.Contains(user.TipoPerfil.Permissao))

                            {
                                <td class="text-center">
                                    <a class="btnEditar" id-registro="@itemModel.Id" title="Editar" onclick="indexAgenda.modalEditar(this)"
                                       style="cursor: pointer;">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                </td>
                                
                                <td class="text-center">
                                    <a class="btnExcluir" id-registro="@itemModel.Id"
                                        nome-registro="Dia @itemModel.Data.ToShortDateString() as @itemModel.Data.ToShortTimeString() h"
                                        data-registro="@itemModel.Data.ToShortDateString()"
                                        title="Excluir" onclick="indexAgenda.excluir(this, false)" style="cursor: pointer;">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                </td>                                
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    if (ConstPermissoes.gerenciamento.Contains(user.TipoPerfil.Permissao))
    {
        <script>

            $("#gridAgenda").DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
                },
                "columnDefs": [
                    { "targets": [5, 6], "orderable": false, "searchable": false }
                ],
                "aaSorting": []
            });

        </script>
    }
    else
    {
        <script>

            $("#gridAgenda").DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
                },
                "aaSorting": []
            });

        </script>
    }

}
