
@using TcUnip.Web.Constants;

@{
    ViewBag.Title = "Index";

    var user = (TcUnip.Model.Pessoa.Usuario)ViewBag.Usuario;
}

@if (user != null)
{
    <link href="~/Content/css/tabsInicio.css" rel="stylesheet" />

    <div class="container" style="width: 80%">
        <div class="row well">
            <div style="padding: 2%">
                <div class="divInputs">
                    <form>
                        <ul id="tabs">
                            <li>
                                <a href="#" name="tabAgenda" class="abaAgenda" carregado="false">
                                    Agenda
                                </a>
                            </li>
                            @if (ConstPermissoes.gerenciamento.Contains(user.Permissoes.FirstOrDefault()))
                            {
                                <li>
                                    <a href="#" name="tabPacientes" class="abaPacientes" carregado="false">
                                        Pacientes
                                    </a>
                                </li>
                                <li>
                                    <a href="#" name="tabFuncionarios" class="abaFuncionarios" carregado="false">
                                        Funcionários
                                    </a>
                                </li>
                                <li>
                                    <a href="#" name="tabCaixa" class="abaCaixa" carregado="false">
                                        Caixa
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="#" name="tabRecibos" class="abaRecibos" carregado="false">
                                    Recibos
                                </a>
                            </li>
                            @if (ConstPermissoes.gerenciamento.Contains(user.Permissoes.FirstOrDefault()))
                            {
                                <li>
                                    <a href="#" name="tabUsuarios" class="abaUsuarios" carregado="false">
                                        Usuários
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="#" name="tabSair" title="Sair do Sistema">
                                    Sair <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>
                        <div id="content">
                            <div id="tabAgenda"></div>
                            @if (ConstPermissoes.gerenciamento.Contains(user.Permissoes.FirstOrDefault()))
                            {
                                <div id="tabPacientes"></div>
                                <div id="tabFuncionarios"></div>
                                <div id="tabCaixa"></div>
                            }
                            <div id="tabRecibos"></div>
                            @if (ConstPermissoes.gerenciamento.Contains(user.Permissoes.FirstOrDefault()))
                            {
                                <div id="tabUsuarios"></div>
                            }
                            <div id="tabSair"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/controllers/tabs.js"></script>

    <script>

    $(document).ready(function () {
        funcoesIndexTabs.listaAgenda($(".abaAgenda"));
    });

    $('#tabs a').click(function (e) {
        e.preventDefault();
        funcoesIndexTabs.carregaDivDaTab(this);
    });

    var funcoesIndexTabs = {

        carregaDivDaTab: function (object) {

            var carregado = $(object).attr("carregado");
            var tabName = $(object).attr('name');

            if (tabName === 'tabPacientes') {

                if (carregado === undefined || carregado === "false") {
                    funcoesIndexTabs.listaPacientes(object);
                }
            }
            else if (tabName === 'tabFuncionarios') {
                if (carregado === undefined || carregado === "false") {
                    funcoesIndexTabs.listaFuncionarios(object);
                }
            }
            else if (tabName === 'tabUsuarios') {
                if (carregado === undefined || carregado === "false") {
                    funcoesIndexTabs.listaUsuarios(object);
                }
            }
            else if (tabName === 'tabAgenda') {
                if (carregado === undefined || carregado === "false") {
                    funcoesIndexTabs.listaAgenda(object);
                }
            }
            else if (tabName === 'tabCaixa') {
                if (carregado === undefined || carregado === "false") {
                    funcoesIndexTabs.listaCaixa(object);
                }
            }
            else if (tabName === 'tabRecibos') {
                if (carregado === undefined || carregado === "false") {
                    funcoesIndexTabs.listaRecibos(object);
                }
            }
            else if (tabName === 'tabSair') {
                funcoesIndexTabs.logOut();
            }
        },

        listaPacientes: function (object) {

            $.ajax({
                url: "@Url.Action("Listagem", "Paciente", new { area = "Paciente" })",                
                type: "GET",
                success: function (result) {

                    if (result.mensagensRetorno === undefined || result.mensagensRetorno === null) {
                        $('#tabPacientes').html(result);
                        $(object).attr("carregado", "true");
                    }
                    else {
                        var retorno = result.mensagensRetorno;
                        swal({
                            title: '',
                            text: retorno.MensagemExibicao,
                            type: 'warning',
                            confirmButtonColor: '#10386B',
                            allowOutsideClick: false
                        });
                        console.log(retorno.MensagemAnalise);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    validacao.errorAjax(jqXHR, textStatus, errorThrown);
                }
            });
        },

        listaFuncionarios: function (object) {

            $.ajax({
                url: "@Url.Action("Listagem", "Funcionario", new { area = "Funcionario" })",                
                type: "GET",
                success: function (result) {

                    if (result.mensagensRetorno === undefined || result.mensagensRetorno === null) {
                        $('#tabFuncionarios').html(result);
                        $(object).attr("carregado", "true");
                    }
                    else {
                        var retorno = result.mensagensRetorno;
                        swal({
                            title: '',
                            text: retorno.MensagemExibicao,
                            type: 'warning',
                            confirmButtonColor: '#10386B',
                            allowOutsideClick: false
                        });
                        console.log(retorno.MensagemAnalise);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    validacao.errorAjax(jqXHR, textStatus, errorThrown);
                }
            });
        },

        listaUsuarios: function (object) {

            $.ajax({
                url: "@Url.Action("Listagem", "Usuario", new { area = "Usuario" })",               
                type: "GET",
                success: function (result) {

                    if (result.mensagensRetorno === undefined || result.mensagensRetorno === null) {
                        $('#tabUsuarios').html(result);
                        $(object).attr("carregado", "true");
                    }
                    else {
                        var retorno = result.mensagensRetorno;
                        swal({
                            title: '',
                            text: retorno.MensagemExibicao,
                            type: 'warning',
                            confirmButtonColor: '#10386B',
                            allowOutsideClick: false
                        });
                        console.log(retorno.MensagemAnalise);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    validacao.errorAjax(jqXHR, textStatus, errorThrown);
                }
            });
        },

        listaAgenda: function (object) {

            $.ajax({
                url: "@Url.Action("Listagem", "Agenda", new { area = "Agenda" })",                
                type: "GET",
                success: function (result) {

                    if (result.mensagensRetorno === undefined || result.mensagensRetorno === null) {
                        $('#tabAgenda').html(result);
                        $(object).attr("carregado", "true");
                    }
                    else {
                        var retorno = result.mensagensRetorno;
                        swal({
                            title: '',
                            text: retorno.MensagemExibicao,
                            type: 'warning',
                            confirmButtonColor: '#10386B',
                            allowOutsideClick: false
                        });
                        console.log(retorno.MensagemAnalise);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    validacao.errorAjax(jqXHR, textStatus, errorThrown);
                }
            });
        },

        listaCaixa: function (object) {

            $.ajax({
                url: "@Url.Action("Index", "Caixa", new { area = "Caixa" })",                
                type: "GET",
                success: function (result) {

                    if (result.mensagensRetorno === undefined || result.mensagensRetorno === null) {
                        $('#tabCaixa').html(result);
                        $(object).attr("carregado", "true");
                    }
                    else {
                        var retorno = result.mensagensRetorno;
                        swal({
                            title: '',
                            text: retorno.MensagemExibicao,
                            type: 'warning',
                            confirmButtonColor: '#10386B',
                            allowOutsideClick: false
                        });
                        console.log(retorno.MensagemAnalise);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    validacao.errorAjax(jqXHR, textStatus, errorThrown);
                }
            });
        },

        listaRecibos: function (object) {

            $.ajax({
                url: "@Url.Action("Index", "Recibo", new { area = "Recibo" })",                
                type: "GET",
                success: function (result) {

                    if (result.mensagensRetorno === undefined || result.mensagensRetorno === null) {
                        $('#tabRecibos').html(result);
                        $(object).attr("carregado", "true");
                    }
                    else {
                        var retorno = result.mensagensRetorno;
                        swal({
                            title: '',
                            text: retorno.MensagemExibicao,
                            type: 'warning',
                            confirmButtonColor: '#10386B',
                            allowOutsideClick: false
                        });
                        console.log(retorno.MensagemAnalise);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    validacao.errorAjax(jqXHR, textStatus, errorThrown);
                }
            });
        },

        logOut: function () {
            var url = href = "@Url.Action("Logout", "Login", new { area = ""  })";
            window.location.href = url;
        }
    };

    </script>
}
