<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/datatables/css")
    @Styles.Render("~/Content/SweetAlert2")


    <style>
        .modal-loading {
            display: none;
            position: fixed;
            z-index: 1100;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 53, 45, 45, 0.43 ) url('/Content/Images/page-loader.gif') 50% 50% no-repeat;
        }

        /* When the body has the loading class, we turn
        the scrollbar off with overflow:hidden */
        body.loading {
            overflow: hidden;
        }

            /* Anytime the body has the loading class, our
        modal element will be visible */
            body.loading .modal-loading {
                display: block;
            }
    </style>

</head>
<body>
    <nav class="navbar navbar-default" style="background-color: white; border-color: white">        
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <a href="" style="letter-spacing:4px; text-decoration: none; color: black">
                            @*<span>TCC Unip - Clínica de Fisioterapia</span>*@
                            <span>Osteofit - Físio + Fitness</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <br />


    <div class="container">
        @RenderBody()

    </div>

    <div class="modal-loading"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/Default")
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/SweetAlert2")
    @Scripts.Render("~/bundles/Jquery.Mask")
    @RenderSection("scripts", required: false)
</body>
</html>